<h1><i class="fas fa-cloud-meatball"></i>Fables</h1>
<div class="section">
    <p class="lead">
        Share your stories
    </p>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn pink darken-4">
            <i class="fab fa-google left"></i>Login with Google
        </a>
    </div>
</div>